<div class="container" data-ng-controller="BlogController">
	<form class="was-validated" name="blogForm" novalidate>
		<div class="container">
			<div class="form-group">
				<label for="blogName">Blog Name: </label> <input id="blogName"
					class="form-control" type="text" name="blogName"
					data-ng-model="blog.blogName" placeholder="Blog name" required>
				<div class="invalid-feedback">Cannot be blank</div>
			</div>
			<div class="form-group">
				<label for="blogDesc">Blog Content: </label>
				<textarea rows="5" cols="20" class="form-control" id="blogDesc" name="blogDesc"
					data-ng-model="blog.blogDesc" placeholder="Blog content"
					maxlength="1000" data-ng-trim="false" required></textarea>
				<span class="form-help">{{1000-blog.blogDesc.length}}
					characters left</span>
					<div class="invalid-feedback">Cannot be blank</div>
			</div>
			<div class="form-group">
				<button type="submit" data-ng-click="addBlog()" class="register disabled" data-ng-disabled="!blogForm.blogName.$valid || !blogForm.blogDesc.$valid">Insert
					Blog</button>
			</div>
		</div>
	</form>

	<div class="container">
		<table class="table">
			<thead>
				<tr style="text-align: center;">
					<th>Blog ID</th>
					<th>Blog Name</th>
					<th>Blog Content</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="blog in blogdata" style="text-align: center;">
					<td>{{blog.blogId}}</td>
					<td>{{blog.blogName}}</td>
					<td>{{blog.blogDesc}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>