<div class="container" data-ng-controller="UserController">
	<h2>Sign up</h2>
	<form name="registerForm" class="was-validated" autocomplete="off" novalidate>
	<div class="form-group">
	<label for="lname">Login name:</label>
	<input type="text" class="form-control" id="lname" placeholder="Login name" name="lname" data-ng-model="User.loginName" required>
	<div class="valid-feedback">&#x2713;</div>
	<div class="invalid-feedback" data-ng-hide="registerForm.lname.$pristine || registerForm.lname.$untouched">Login name is required.</div>
	</div>
	<div class="form-group">
	<label for="password">Password:</label>
	<input type="password" class="form-control" id="password" placeholder="Password should be between 8 to 10 characters long" name="password" data-ng-model="User.password" pattern=".{8,10}" required>
	<div class="valid-feedback">&#x2713;</div>
	<div class="invalid-feedback" data-ng-hide="registerForm.password.$pristine || registerForm.password.$untouched">Password cannot be blank.</div>
	<div class="invalid-feedback" data-ng-show="registerForm.password.$invalid && registerForm.password.$dirty">Invalid password</div>
	</div>
	<div class="form-group">
	<label for="uname">Username:</label>
	<input type="text" class="form-control" id="uname" placeholder="Username" name="uname" data-ng-model="User.username" required>
	<div class="valid-feedback">&#x2713;</div>
	<div class="invalid-feedback" data-ng-hide="registerForm.uname.$pristine || registerForm.uname.$untouched">Username is required.</div>
	</div>
	<div class="form-group">
	<label for="email">E-mail address:</label>
	<input type="email" class="form-control" id="email" placeholder="E-mail address" name="email" data-ng-model="User.emailid" required>
	<div class="valid-feedback">&#x2713;</div>
	<div class="invalid-feedback" data-ng-hide="registerForm.email.$pristine || registerForm.email.$untouched">Email address is required.</div>
	<div class="invalid-feedback" data-ng-show="registerForm.email.$invalid && registerForm.email.$dirty">Invalid email address.</div>
	</div>
	<div class="form-group">
	<label for="mobile">Mobile number:</label>
	<input type="text" class="form-control" id="mobile" placeholder="Mobile number (10 digits only)" name="mobile" data-ng-model="User.mobileno" pattern=".{10,10}" required>
	<div class="valid-feedback">&#x2713;</div>
	<div class="invalid-feedback" data-ng-hide="registerForm.mobile.$pristine || registerForm.mobile.$untouched">Mobile number is required.</div>
	<div class="invalid-feedback" data-ng-show="registerForm.mobile.$invalid && registerForm.mobile.$dirty">Mobile number should be 10 digits long.</div>
	</div>
	<div class="form-group">
	<label for="address">Address:</label>
	<input type="text" class="form-control" id="address" placeholder="Address" name="address" data-ng-model="User.address" required>
	<div class="valid-feedback">&#x2713;</div>
	<div class="invalid-feedback" data-ng-hide="registerForm.address.$pristine || registerForm.address.$untouched">Please fill in your address.</div>
	</div>
	<div class="form-group form-check">
	<label for="checkbox" class="form-check-label"></label>
	<input class="form-check-input" type="checkbox" id="checkbox" name="checkbox" required><span>I agree to the terms and conditions.</span>
	<div class="invalid-feedback" data-ng-hide="registerForm.checkbox.$untouched || registerForm.checkbox.$pristine">Please agree to the terms and conditions to proceed.</div>	
	</div>
	<button type="submit" class="btn btn-primary" data-ng-click="register()" data-ng-disabled="!registerForm.uname.$dirty || !registerForm.password.$dirty">Log in</button>
	</form>
</div>
